body{
  text-align: center;
  background-color: rebeccapurple;
  color: white;
  font-family: "Sour Gummy", sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}
button{
  border-radius: 20px;
  width: 80px;
  height: 50px;
  color: black;
  background-color: white;
}
button:hover{
  background-color: pink;
}